<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greennote.system.file.mapper.FileMapper">

    <insert id="insert">
        INSERT INTO gn_file (id, original_name, stored_name, url, size_bytes, content_type, uploader_kind, uploader_id)
        VALUES (#{id}, #{originalName}, #{storedName}, #{url}, #{sizeBytes}, #{contentType}, #{uploaderKind}, #{uploaderId})
    </insert>

    <select id="listRecent" resultType="com.greennote.system.file.controller.vo.StoredFile">
        SELECT id,
               original_name AS name,
               url,
               size_bytes AS size,
               content_type AS contentType
        FROM gn_file
        ORDER BY created_at DESC, id DESC
        LIMIT #{limit}
    </select>

</mapper>
